    body {
        margin: 0;
        font-family: "Inter", sans-serif;
        background-color: #ffffff;
    }

    .main-container {
        max-width: 1400px;
        margin: auto;
    }

    .header-inner {
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #00142A;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    .logo {
        line-height: 1;
    }

    .logo-main {
        color: #f5c400;
        font-size: 26px;
        font-weight: 700;
    }

    .logo-sub {
        display: block;
        color: #ffffff;
        font-size: 11px;
        letter-spacing: 2px;
        margin-top: 2px;
    }

    .nav-menu {
        display: flex;
        gap: 57px;
        margin-left: 270px;
    }

    .nav-menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        position: relative;
    }

    .nav-menu a.active {
        color: #ffffff;
    }

    .btn-group {
        display: flex;
        align-items: center;
        gap: 0px;
        margin-right: 100px;
        position: relative;
    }

    .main-btn {
        background: #d4b13f;
        color: #ffffff;
        text-decoration: none;
        padding: 15px 16px 15px 10px;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s ease;
    }

    .icon-btn {
        width: 52px;
        height: 47px;
        background: #d4b13f;
        color: #ffffff;
        text-decoration: none;
        border-radius: 50%;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s ease;
    }

    .btn-group:hover .icon-btn {
        transform: translateX(-179px);
    }

    .btn-group:hover .main-btn {
        transform: translateX(30px);
    }

    header.topbar img {
        width: 175px;
        height: 50px;
        margin-left: 100px;
    }


    .hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background: #ffffff;
}

/* MOBILE BUTTON */
.mobile-btn {
    display: none;
    background: #f5c400;
    color: #000;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
}


    .about-curve{
        background: url("assets/images/Ellipse 12.png"); /* optional image */
        background-size:cover;
        background-position:center;
        padding:110px 0 90px;
        border-bottom-left-radius:50% 160px;
        border-bottom-right-radius:50% 160px;
    }

    /* TITLE */
    .about-h2 {
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        margin-top: 0;
        background: linear-gradient(110.88deg, #FFFFFF 2.1%, #D4AF37 97.9%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-family: "Prata", serif;
    }

    .personal-story-section {
        padding: 80px 0;
    }

    /* FLEX WRAPPER */
    .story-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
    }

    /* LEFT TEXT */
    .story-text {
        width: 50%;
    }

    .story-tag {
        display: inline-block;
        color: #d4b13f;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        margin-left: 100px;
    }

    .story-text h3 {
        font-size: 42px;
        font-weight: 400;
        color: #1E3A8A;
        line-height: 1.2;
        margin-bottom: 25px;
        margin-left: 97px;
        margin-top: -3px;
        font-family: "Prata", serif;
    }

    .about-p {
        font-size: 15px;
        color: #010101;
        line-height: 1.8;
        margin-bottom: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        margin-left: 97px;
    }

    .story-image img {
        width: 95%;
        height: 370px;
        object-fit: cover;
        border-radius: 2px;
    }

    .mission-section {
        background:url("assets/images/Frame 22.png") center/cover no-repeat;
        padding: 120px 0;
        color: #ffffff;
    }

    .mission-content {
        max-width: 900px;
        margin: auto;
        text-align: center;
    }

    /* TAG */
    .mission-tag {
        display: inline-block;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    /* HEADING */
    .mission-content h2 {
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 25px;
        line-height: 1.3;
        background: linear-gradient(110.88deg, #FFFFFF 2.1%, #D4AF37 97.9%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-family: "Prata", serif;
        margin-top: 0px;
    }

    .mission-content h2 span {
        color: #d4b15f;
    }

    /* TEXT */
    .mission-content p {
        font-size: 16px;
        line-height: 1.9;
        color: #ffffff;
        margin-bottom: 18px;
        font-family: "Lato", sans-serif;
    }

    .res-support-section {
        background: #fbf8f2;
        padding: 80px 20px;
        text-align: center;
    }

    .res-support-tag {
        color: #d4af37;
        letter-spacing: 2px;
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .res-support-title {
        font-family: "Prata", serif;
        font-size: 45px;
        color: #243a7a;
        margin-bottom: 15px;
        margin-top: 0px;
        font-weight: 400;
    }

    .res-support-desc {
        max-width: 750px;
        margin: 0 auto 50px;
        color: #555;
        font-size: 15px;
        line-height: 1.6;
    }

    .res-support-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        margin: 0 auto 50px;
        max-width: 1100px;
        width: 100%;
    }

    .res-support-card {
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
        background-color: #001D3D;
        height: 230px;
        border-radius: 30px;
    }

    .res-support-card:hover {
        transform: translateY(-6px);
    }

    .res-support-icon {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 18px;
        font-size: 22px;
        margin-top: 50px;
    }

    .res-support-card h4 {
        font-family: "Prata", serif;
        color: #d4af37;
        margin-bottom: 6px;
        font-size: 18px;
    }

    .res-support-card p {
        font-size: 14px;
        color: #ffffff;
        margin-top: 0px;
    }

    .res-wrap {
        display: inline-flex;
        align-items: center;
    }

    .res-btn {
        display: inline-flex;
        align-items: center;
        background: #D4AF37;
        padding: 15px 32px;
        border-radius: 50px;
        text-decoration: none;
        transition: transform 0.45s cubic-bezier(.4, 0, .2, 1);
        will-change: transform;
        margin-left: 8px;
        width: 150px;
    }

    .res-text {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
    }

    .res-icon {
        width: 52px;
        height: 47px;
        border-radius: 50%;
        background: #D4AF37;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -2px;
        text-decoration: none;
        transition: transform 0.45s cubic-bezier(.4,0,.2,1);
        will-change: transform;
    }

    .res-wrap:hover .res-btn {
        transform: translateX(14px);
    }

    .res-wrap:hover .res-icon {
        transform: translateX(-247px);
    }

    .res-icon i.fa-solid.fa-arrow-up {
        font-size: 22px;
        color: #ffffff;
    }

    .expertise-section {
        background:url("assets/images/Section.png") center/cover no-repeat;
        padding: 120px 0;
        color: #ffffff;
    }

    .expertise-header {
        text-align: center;
        max-width: 900px;
        margin: auto;
        margin-bottom: 70px;
    }

    .section-tag {
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .expertise-header h2 {
        font-size: 42px;
        margin: 20px 0;
        background: linear-gradient(110.88deg, #FFFFFF 2.1%, #D4AF37 97.9%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-family: "Prata", serif;
    }

    .expertise-header h2 span {
        color: #d4b15f;
    }

    .expertise-header p {
        color: #d6d6d6;
        line-height: 1.9;
    }

    /* MAIN CONTENT */
    .expertise-content {
        display: flex;
        gap: 60px;
        align-items: flex-start;
        margin-bottom: 80px;
    }

    .expertise-image {
        width: 35%;
    }

    .expertise-image img {
        width: 100%;
        border-radius: 4px;
        margin-left: 95px;
        height: 640px;
        margin-top: 22px;
    }

    .expertise-text {
        width: 50%;
        margin-left: 90px;
    }

    .expertise-text h4 {
        color: #D4AF37;
        font-size: 16px;
        margin-bottom: 8px;
        font-family: "Lato", sans-serif;
    }

    .expertise-text p {
        color: #ffffff;
        line-height: 1.8;
        margin-bottom: 22px;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }

    /* CERTIFICATE SLIDER */
    .certificate-slider {
        margin-top: 40px;
    }

    .cert-item {
        padding: 15px;
        border-radius: 6px;
    }

    .cert-item img {
        width: 100%;
        height: 90px;
        object-fit: contain;
    }

    .cert-item img{
        height: 150px;
    }

.certificate-slider .owl-stage {
    display: flex;
    align-items: center;
    transition-timing-function: linear !important;
}

.legal-footer{
    background:#fbf9f5;
}

.top-area{
    text-align:center;
    padding:90px 20px 160px;
}

.top-area h1 {
    font-family: "Prata", serif;
    font-size: 64px;
    color: #1E3A8A;
    margin-bottom: 40px;
    font-weight: 400;
}

.get-started {
    width: 150px;
    height: 150px;
    background: #d4af37;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    /* margin: auto; */
    position: relative;
    z-index: 5;
    transition: .35s ease;
    margin-bottom: -160px;
    margin-left: 560px;
}

.get-started span{
    font-size:18px;
    margin-bottom:6px;
}

.get-started:hover{
    background:#fff;
    color:#d4af37;
    transform:scale(1.15);
    box-shadow:0 25px 45px rgba(0,0,0,.18);
    animation:pop .35s ease;
}

.footer-curve {
    background: url('assets/images/Rectangle 2.png') center/cover;
    margin-top: -80px;
    padding: 160px 0 30px;
    border-top-left-radius: 50% 180px;
    border-top-right-radius: 50% 180px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-left: 175px;
}

.footer-col{
    width:22%;
    color:#ffffff;
}

.footer-col h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #ffffff;
    font-family: "Prata", serif;
}

.footer-col p,
.footer-col a,
.footer-col label{
        font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    line-height: 1.6;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.brand img{
    margin-bottom:15px;
}

.icons span{
    width:28px;
    height:28px;
    background:#123a7a;
    display:inline-block;
    border-radius:50%;
    margin-right:6px;
}

.newsletter{
    display:flex;
    margin-bottom:12px;
}

.newsletter input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 13px;
    background-color: #162D46;
}

.newsletter button{
    background:#d4af37;
    border:none;
    padding:0 16px;
    color:#fff;
    cursor:pointer;
}

.checkbox{
    font-size:12px;
    color:#cfd8e3;
}

.copyright{
    text-align:center;
    color:#ffffff;
    font-weight:400;
    font-family:"Lato", sans-serif;
    font-size:14px;
    margin-top:45px;
    padding-top:18px;                 /* border se space */
    border-top:1px solid rgba(255,255,255,0.15);
}


i.fa-brands.fa-facebook-f {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 8px;
}

i.fa-brands.fa-instagram {
    margin-left: 8px;
    font-size: 12px;
    margin-top: 8px;
}


i.fa-brands.fa-youtube {
    margin-left: 7px;
    font-size: 12px;
    margin-top: 8px;
}

i.fa-brands.fa-x-twitter {
    margin-left: 8px;
    font-size: 12px;
    margin-top: 8px;
}

.certificate-slider.owl-carousel.owl-loaded {
    margin-left: 100px;
    width: 88%;
}