    body {
        margin: 0;
        font-family: "Inter", sans-serif;
        background-color: #ffffff;
    }

    .main-container {
        max-width: 1400px;
        margin: auto;
    }

    .header-inner {
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #00142A;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    .logo {
        line-height: 1;
    }

    .logo-main {
        color: #f5c400;
        font-size: 26px;
        font-weight: 700;
    }

    .logo-sub {
        display: block;
        color: #ffffff;
        font-size: 11px;
        letter-spacing: 2px;
        margin-top: 2px;
    }

    .nav-menu {
        display: flex;
        gap: 57px;
        margin-left: 270px;
    }

    .nav-menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        font-family:"Lato", sans-serif;
    }

    .nav-menu a.active {
        color: #ffffff;
    }

    .btn-group {
        display: flex;
        align-items: center;
        gap: 0px;
        margin-right: 100px;
        position: relative;
    }

    .main-btn {
        background: #d4b13f;
        color: #ffffff;
        text-decoration: none;
        padding: 15px 16px 15px 10px;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s ease;
    }

    .icon-btn {
        width: 52px;
        height: 47px;
        background: #d4b13f;
        color: #ffffff;
        text-decoration: none;
        border-radius: 50%;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s ease;
    }

    .btn-group:hover .icon-btn {
        transform: translateX(-179px);
    }

    .btn-group:hover .main-btn {
        transform: translateX(30px);
    }

    header.topbar img {
        width: 175px;
        height: 50px;
        margin-left: 100px;
    }
    
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background: #ffffff;
}

/* MOBILE BUTTON */
.mobile-btn {
    display: none;
    background: #f5c400;
    color: #000;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
}

    .about-curve{
        background: url("assets/images/Ellipse 12.png");
        background-size:cover;
        background-position:center;
        padding:110px 0 90px;
        border-bottom-left-radius:50% 160px;
        border-bottom-right-radius:50% 160px;
    }

    /* TITLE */
    .about-h2 {
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        margin-top: 0;
        background: linear-gradient(110.88deg, #FFFFFF 2.1%, #D4AF37 97.9%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-family: "Prata", serif;
    }

    .resource-section {
    padding: 70px 0;
}

/* Top label */
.category-label {
    font-size: 18px;
    letter-spacing: 1px;
    color: #D4AF37;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 44%;
    font-family: "Lato", sans-serif;
}

/* Main heading */
.main-heading {
    font-size: 45px;
    font-weight: 500;
    color: #1E3A8A;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Prata", serif;
}

/* Paragraph */
.description {
    max-width: 950px;
    font-size: 16px;
    line-height: 1.7;
    color: #010101;
    text-align: center;
    margin-left: 205px;
    font-family: "Lato", sans-serif;
}

/* Cards */
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 88%;
    margin-left: 90px;
    margin-top: 75px;
}

/* Individual card */
.resource-card {
    background-color: #001D3D;
    border-radius: 21.05px;
    padding: 28px 25px 12px 30px;
    color: #ffffff;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resource-card h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #d4b35f;
    font-weight: 400;
    text-align: center;
    font-family: "Prata", serif;
}

.resource-card p {
    font-size: 11px;
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.crisis-hero {
    position: relative;
    min-height: 420px;
    background-image: url("assets/images/Frame 22.png"); /* apni image */
    background-size: cover;
    background-position: center;
}

/* CONTENT */
.crisis-content {
    max-width: 650px;
    color: #ffffff;
    margin-left: 365px;
}

/* Label */
.crisis-label {
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 210px;
    font-family: "Lato", sans-serif;
    margin-top: 110px;
}

/* Title */
.crisis-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 18px;
    background: linear-gradient(110.88deg, #FFFFFF 2.1%, #D4AF37 97.9%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Prata", serif;
    margin-top: 3px;
}

.crisis-title span {
    color: #e1c46a;
}

/* Text */
.crisis-description {
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 28px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
}

.res-wrap {
    display: inline-flex;
    align-items: center;
    margin-left: 175px;
}

.res-btn {
    display: inline-flex;
    align-items: center;
    background: #D4AF37;
    padding: 15px 32px;
    border-radius: 50px;
    text-decoration: none;
    transition: transform 0.45s cubic-bezier(.4, 0, .2, 1);
    will-change: transform;
    margin-left: 8px;
    width: 150px;
}

.res-text {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
}

.res-icon {
    width: 52px;
    height: 47px;
    border-radius: 50%;
    background: #D4AF37;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    text-decoration: none;
    transition: transform 0.45s cubic-bezier(.4,0,.2,1);
    will-change: transform;
}

.res-wrap:hover .res-btn {
    transform: translateX(14px);
}

.res-wrap:hover .res-icon {
    transform: translateX(-247px);
}

.res-icon i.fa-solid.fa-arrow-up {
    font-size: 22px;
    color: #ffffff;
}

.insights-section {
    padding: 80px 0 90px;
}

/* LABEL */
.insights-label {
    font-size: 15px;
    letter-spacing: 1px;
    color: #D4AF37;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 575px;
}

/* HEADING */
.insights-heading {
    font-size: 43px;
    font-weight: 500;
    color: #1E3A8A;
    margin-bottom: 18px;
    text-align: center;
    font-family: "Prata", serif;
    margin-top: 5px;
}

/* SUBTEXT */
.insights-subtext {
    max-width: 920px;
     font-size: 14px;
    line-height: 1.7;
    color: #010101;
    text-align: center;
    margin-left: 210px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/* GRID */
.insights-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    width: 88%;
    margin-left: 90px;
    margin-top: 65px;
}

/* CARD */
.insight-card {
    background: #001D3D;
    border-radius: 27.76px;
    padding: 22px;
    text-align: left;
    min-height: 265px;
    display: flex;
    flex-direction: column;
}

/* IMAGE */
.card-image {
    height: 100px;
    margin-bottom: 14px;
    overflow: hidden;
}

.card-image img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 198px;
}

/* TITLE */
.insight-card h3 {
    font-size: 17px;
    line-height: 1.4;
    color: #D4AF37;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Prata", serif;
    width: 175px;
    margin-top: -95px;
}

/* TEXT */
.insight-card p {
    font-size: 14.5px;
    line-height: 1.6;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.insight-card h4 {
    color: #FFFFFF;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.legal-footer{
    background:#fbf9f5;
}

.top-area{
    text-align:center;
    padding:90px 20px 160px;
}

.top-area h1 {
    font-family: "Prata", serif;
    font-size: 64px;
    color: #1E3A8A;
    margin-bottom: 40px;
    font-weight: 400;
}

.get-started {
    width: 150px;
    height: 150px;
    background: #d4af37;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    /* margin: auto; */
    position: relative;
    z-index: 5;
    transition: .35s ease;
    margin-bottom: -160px;
    margin-left: 560px;
}

.get-started span{
    font-size:18px;
    margin-bottom:6px;
}

.get-started:hover{
    background:#fff;
    color:#d4af37;
    transform:scale(1.15);
    box-shadow:0 25px 45px rgba(0,0,0,.18);
    animation:pop .35s ease;
}

.footer-curve {
    background: url('assets/images/Rectangle 2.png') center/cover;
    margin-top: -80px;
    padding: 160px 0 30px;
    border-top-left-radius: 50% 180px;
    border-top-right-radius: 50% 180px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-left: 175px;
}

.footer-col{
    width:22%;
    color:#ffffff;
}

.footer-col h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #ffffff;
    font-family: "Prata", serif;
}

.footer-col p,
.footer-col a,
.footer-col label{
        font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    line-height: 1.6;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.brand img{
    margin-bottom:15px;
}

.icons span{
    width:28px;
    height:28px;
    background:#123a7a;
    display:inline-block;
    border-radius:50%;
    margin-right:6px;
}

.newsletter{
    display:flex;
    margin-bottom:12px;
}

.newsletter input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 13px;
    background-color: #162D46;
}

.newsletter button{
    background:#d4af37;
    border:none;
    padding:0 16px;
    color:#fff;
    cursor:pointer;
}

.checkbox{
    font-size:12px;
    color:#cfd8e3;
}

.copyright{
    text-align:center;
    color:#ffffff;
    font-weight:400;
    font-family:"Lato", sans-serif;
    font-size:14px;
    margin-top:45px;
    padding-top:18px;                 /* border se space */
    border-top:1px solid rgba(255,255,255,0.15);
}


i.fa-brands.fa-facebook-f {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 8px;
}

i.fa-brands.fa-instagram {
    margin-left: 8px;
    font-size: 12px;
    margin-top: 8px;
}


i.fa-brands.fa-youtube {
    margin-left: 7px;
    font-size: 12px;
    margin-top: 8px;
}

i.fa-brands.fa-x-twitter {
    margin-left: 8px;
    font-size: 12px;
    margin-top: 8px;
}